body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
/*
    background: url('../img/pattern-blue.png') no-repeat center center fixed;
    background-size: cover;*/

    /*background: url('../img/pattern-blue.png')  no-repeat center center fixed;
    background-size: cover;*/

}

.desktop-only {
}

.mobile-only {
    display: none;
}

.spacer {
    flex: 1;
}

body.dark {
    color: #fafafa;
}

a {
    color: #ef545c;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

hr {
    margin: 0;
    border: none;
    border-bottom: 1px solid #eee;
}
body.dark hr {
    border-color: #555;
}

#main-body-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

ul.occupations {
    padding: 0;
    margin: 0;
    list-style: none;
}
.occupations li {
    position: relative;
    display: block;
    overflow: auto;
    padding: 20px 0;
}
.occupations li:last-of-type {
    padding-bottom: 0;
}
.occupations li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
body.dark .occupations li {
    border-color: #555;
}

.occupations li .links {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-top: 10px;
}
.occupations li .links a {
    border-radius: 12px;
    font-size: 12px;
    display: inline-block;
    padding: 4px 10px;
    margin-right: 3px;
    background: #ef545c;
    color: #fff;
}
body.dark .occupations li .links a {
}

.occupations li .project-title {
    margin-bottom: 10px;
}
.occupations li .project-title .title-start-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.occupations li > img {
    float: left;
    width: 86px;
    height: 86px;
    margin-right: 20px;
}
.occupations li h3 {
    margin: 0;
    font-size: 0.9em;
}
.occupations li a {
    margin: 0;
    font-size: 0.8em;
}
.occupations li .text,
.occupations li .description {
    vertical-align: top;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    line-height: 150%;
}
.occupations li .description {
    line-height: 150%;
}
.occupations li .description .line {
    margin: 5px 0;
}

.top-bar-wrapper {
    position: relative;
}

.top-bar {
    /* height: 100px; */
    display: flex;
    align-items: center;
    z-index: 5;
    /*background-color: #2E6BAB;*/ /*rgba(100, 105, 104, 0.5);*/
    color: #000;
    overflow: hidden;
}
body.dark .top-bar {
    color: #fff;
}
.top-bar h3 {
    font-size: 1.2em;
    border-bottom: 1px solid #eee;
    width: 100%;
    padding-bottom: 20px;
}
.top-bar hr {
    border: none;
    border-bottom: 2px solid #FF675B;
}
.top-bar p {
    font-size: 20px;
}
.top-bar #page-links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.top-bar #page-links > li {
    font-size: 24px;
    display: inline-block;
    padding: 0 0 0 20px;
    border-radius: 4px;
    cursor: pointer;
}
.top-bar #page-links > li:hover {
    color: #3F92EB;
}

.top-bar.shrinked {
    padding: 10px 0;
}
.top-bar.shrinked h1 {
    font-size: 16px;
}
.top-bar.shrinked #page-links > li {
    font-size: 16px;
}

#about .header {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    margin: 20px 0;
}
#about .header .text {
    flex: 1;
}
#about .header .text .name {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#about .header h1 {
    margin: 20px 0;
    margin-top: 0;
    font-size: 1.5em;
    flex: 1;
    white-space: nowrap;
}
#about .header .subtext {
    font-size: 0.7em;
    margin-top: 3px;
    margin-bottom: 10px;
    color: #555;
}
body.dark #about .header .subtext {
    color: #eee;
}

#about .header .contact-me {
    display: flex;
    margin-top: 10px;
}
#about .header .contact-me .contact-me-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #FF675B;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
}
#about .header p {
    margin: 10px 0;
    font-size: 0.8em;
    line-height: 150%;
}

.avatar-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 5px solid #eee;
    border-radius: 50%;

    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); */
    width: 90px;
    height: 90px;
    margin-right: 25px;
    overflow: hidden;
}

.avatar {
    width: 100%;
    filter: grayscale(35%);
    /* top: 5px; */
    position: relative;
}


#bg-canvas {
    position: absolute;
    width : 100%;
    height: 100%;
    background-color: transparent;
    z-index: 5;
}
.banner {
    position: relative;
    width: 100%;
    height: 65px;
}
.banner-bg {
    position: relative;
    width: 100%;
    height: 100%;
}
.banner-bottom {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: black;
}
.banner-center-circle {
    position: relative;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    color: #000;

    /*background: url('../img/pattern-blue-blurred.png')  no-repeat center center fixed;
    background-size: cover;*/
    overflow: hidden;

    text-align: center;
    width: 80%;
    vertical-align: middle;
    margin-top: 69px;
    margin-left: 10%;
    margin-right: 10%;
    height: 120px;
    z-index: 1;
}
.banner-center-content {
    background-color: rgba(0, 0, 0, 0.5);
}

#big-section {
    position: relative;
    width: 100%;
    height: 135px;
    background-color: #E74C3C;
    z-index: 1;
}
#big-section-content {

    width: 80%;
    position: absolute;
    margin-top: 72px;
    margin-left: 10%;
    margin-right: 10%;
    color: #FFFFFF;
}
#big-section hr {
    border: 2px solid #FF675B;
}
#big-section p {
    padding: 0;
}

#main-bg {
    width: 100%;
    height: 100%;
}

.intro-text {
    font-size: 1em;
}
.intro-text br {
    line-height: 200%;
}
.intro-text-smaller {
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}

#email-address-box {
    display: inline-block;
    position: absolute;
    background: #fff;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px 50px;
    box-shadow: 0 1px 4px 2px rgba(0,0,0,0.5);
    /* text-align: center; */
    /* font-size: 16px; */
    z-index: 5;
    animation: fadeup 0.5s;
}
#email-address-val {
    margin: 5px 0;
    /* font-size: 20px; */
}
body.dark #email-address-box {
    background: rgb(23,27,31);
    color: #fff;
}
#close-email-box-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
 
.profile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.profile-link {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 32px; */
    margin: 10px 0;
    font-size: 12px;
    vertical-align: middle;
    line-height: 32px;
}
.profile-link img {
    float: left;
    height: 32px;
    /* margin-right: 5px; */
}
body.dark .profile-link img {
    filter: invert(100%);
}
.profile-link a {
}

#about {
    /*position: fixed;*/
    z-index: 1;
    float: left;
    height: 100%;
    width: 40%;
    max-width: 600px;
    /* color: #fff; */
    background: #fff;
    /* border-right: 12px solid #DE2A3F; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 20px;
    color: #111;
    background-color: #fff;
    overflow: auto;
}
.card:not(:last-of-type) {
    margin-bottom: 15px;
}
.card.no-border {
    box-shadow: none;
    background-color: initial !important;
    padding: 0;
    margin-bottom: 35px;
}
.card .title {
    font-size: 1.0em;
    font-weight: bold;
    color: #555;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
body.dark .card {
    background: rgb(42,52,61);
    color: #eee;
}
body.dark .card .title {
    color: #fff;
}

.skills {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.skills li {
    border-radius: 12px;
    background: #E9F5F7;
    border: 1px solid #C2E3F2;
    font-size: 12px;
    color: #1A9FBD;
    display: inline-block;
    padding: 4px 10px;
    margin: 3px;
}
body.dark .skills li {
    background: #555;
    border-color: #555;
    color: #fff;
}

.page {
    /*position: absolute;*/
    position: relative;
    overflow: auto;
    height: 100%;
    background: #f7f8fa;
    padding: 0 40px;
}
.page.half {
    /*height: 50%;*/
    margin-top: 0;
}
.page.half .page-content {
    /*height: calc(100% - 100px);*/
    /*overflow-y: scroll;*/
    border-radius: 5px;
    
}
.page.half .top-bar {
    padding: 0;
    /* text-align: center; */
}

.name-header {
    display: flex;
    align-items: center;
}
#about h1 {
    margin: 0;
    flex: 0;
}

.page .center {
    background-color: #DDD;
}
.page > .page-content > h3 {
    margin: 0 0 50px 0;
    text-align: center;
    /* color: #000; */
    font-size: 30px;
    font-weight: normal;
    overflow: hidden;
}

body.dark .page {
    background: rgb(0,0,0);
}
body.dark .page#about {
    background: rgb(23,27,31);
}

.skill-row {
    position: relative;
    margin: 0 auto;
    display: table;
}
.skill-row > .circle {
    display: inline-block;
}
.project-circle {
    position: relative;
    display: block;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 10px 15px;
    background-color: #fff;
    overflow: auto;
}
.project-circle:not(:last-of-type) {
    margin-bottom: 15px;
}
body.dark .project-circle {
    background-color: rgb(42,52,61);
}
.project-circle .description {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.project-circle .project-title {
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    /* margin-right: 8px; */
    margin-bottom: 2px;
    align-items: center;
    justify-content: space-between;
}
.project-circle .project-title .tags {
    display: flex;
    flex-direction: row;
}

.project-circle .project-title .tags .tag {
    border-radius: 12px;
    background: #E9F5F7;
    border: 1px solid #C2E3F2;
    font-size: 11px;
    color: #1A9FBD;
    display: inline-block;
    padding: 2px 5px;
    margin: 0px 3px;
}
body.dark .project-circle .project-title .tags .tag {
    background: #555;
    border-color: #555;
    color: #fff;
}
/* .project-circle.small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */
.project-circle.small .project-header {
    flex: 1;
}
.project-circle.small .project-title {
    /* display: inline-block; */
    font-size: 0.7em;
    /* margin-right: 8px; */
}
.project-circle.small .links {
    /* display: flex;
    align-items: center;
    padding-left: 5px;
    margin: 0; */
    font-size: 0.7em;
}

.project-circle.featured {
    padding: 15px 20px;
}
.project-circle.featured .project-title {
    margin-bottom: 5px;
}
.project-circle.featured .project-title h3 {
    font-size: 1.2em;
    font-weight: bold;
}
.project-circle.featured .description {
    margin: 10px 0;
    font-size: 0.9em;
    line-height: 150%;
}

.project-circle .project-title h3 {
    margin: 0;
    font-size: 1em;
}
.project-circle .description {
    font-size: 0.8em;
    line-height: 150%;
}
.project-circle .description.italic {
    font-style: italic;
}
.project-circle .links {
    font-size: 0.8em;
    display: flex;
    margin-bottom: 2px;
}
.project-circle .links a {
    margin-right: 20px;
}
/* .project-circle.small .description {
    display: inline;
    font-size: 0.6em;
    color: #555;
} */
body.dark .project-circle {
    border-color: #555;
}
.project-circle > img {
    float: right;
    width: 86px;
    height: 86px;
    margin-left: 20px;
}
.project-circle > .description {
    padding: 0;
    margin: 0;
}
.project-circle > .links {
    margin-top: 10px;
}

.project-circle ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.project-circle li {
    display: inline-block;
    margin: 0;
    margin-left: 5px;
}
.project-circle a:hover {
    text-decoration: underline;
}

.previews {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.previews .preview {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    background: #f7f8fa;
    border: 1px solid #eee;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
}

.project-circle.featured .previews {
    display: block;
}
.project-circle.featured .previews .preview {
    box-sizing: border-box;
    margin: 0;
    padding: 3px;
    border: none;
    width: 49%;
    height: auto;
    aspect-ratio: 16/9;
    /* display: inline-block; */
    background-color: initial;
    transition: filter 0.5s ease;
    display: inline-flex;
    align-items: center;
}
.project-circle.featured .previews .preview:hover {
    filter: brightness(0.65);
}
.project-circle.featured .previews .preview img,
.project-circle.featured .previews .preview video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    overflow: hidden;
}
.previews .preview img,
.previews .preview video {
    height: 100%;
}

.contact-text {
    font-size: 20px;
    line-height: 150%;
    text-align: center;
}

#night-mode-wrapper {
    position: fixed;
    bottom: 15px;
    right: 35px;
    z-index: 9999;
}
#night-mode-btn {
    background: #ccc;
    border: 1px solid #aaa;
    border-radius: 15px;
    outline: none;
    padding: 8px 16px;
    font: inherit;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.5;
    transition: opacity 0.5s ease, color 0.5s ease;
}
#night-mode-btn:hover {
    opacity: 0.9;
}

.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.33);
    backdrop-filter: blur(2.5px);
    top: 0;
    left: 0;
    z-index: 100;
}
.modal-content {
    position: fixed;
    top: 30px;
    left: 50%;
    box-sizing: border-box;
    transform: translateX(-50%);
    min-width: 200px;
    max-width: 1300px;
    /* width: 80%; */
    min-height: 200px;
    max-height: 85%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 20px;
    padding-top: 15px;
    color: #111;
    background-color: #fff;
    overflow: auto;
    z-index: 101;
}
.modal-content .modal-header {
    font-size: 10px;
    color: #555;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    overflow: auto;
}
.modal-content .modal-header .modal-close {
    float: right;
    font-size: 18px;
}
.modal-content .modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.modal-content .modal-footer .modal-close {
    float: none;
    margin: 0 auto;
    font-size: 14px;
    color: #fff;
    background-color: #FF675B;
    border-radius: 3px;
    padding: 7.5px 20px;
}

#preview-modal .preview-img {
    width: 100%;
}
#preview-modal .preview-video {
    width: 100%;
}
#preview-modal[data-mode="img"] .preview-img {
    display: block;
}
#preview-modal[data-mode="img"] .preview-video {
    display: none;
}
#preview-modal[data-mode="video"] .preview-img {
    display: none;
}
#preview-modal[data-mode="video"] .preview-video {
    display: block;
}

@media (max-width: 768px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
        display: block;
    }

    .modal-content {
        width: 90%;
    }

    .top-bar {
        padding: 0;
        text-align: center;
    }

    #about {
        float: none;
        max-width: none;
        width: auto;
        height: auto;
        border-right: none;
        border-bottom: 6px solid #DE2A3F;
        padding-bottom: 25px;
    }
    #about .header {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    #about .header .avatar-wrapper {
        margin: 25px 0;
    }
    
    .page {
        width: auto;
        height: auto;
        padding: 0 20px;
    }

    #big-section {
        height: 117px;
    }
    .circle {
        font-size: 12px;
        line-height: 80px;
        width: 80px;
        height: 80px;
        margin: 4px;
    }

    .description {
        font-size: 14px;
    }

    .project-circle {
        height: auto;
    }
    .project-circle > img {
        float: none;
        margin: 0 0 20px 0;
    }
    .project-circle > .links {
        
        position: relative;
        bottom: 0;
        margin-left: 0;
    }

    #night-mode-btn {
        padding: 4px 8px;
        font-size: 12px;
    }
}

@keyframes fadeup {
    0% {
        transform: translateY(15px);
        opacity: 0
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
